<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Degrees of Wikipedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
<h1><a href="">Degrees of Wikipedia</a></h1>
<form action="" method="post" novalidate>

    {%- if not dest -%}

        <label for="origin">Origin page:</label>
        <input name="origin" class="form-control" value="https://en.wikipedia.org/wiki/Special:Random"/>
        <label for="dest">Destination page:</label>
        <input name="dest" class="form-control" value="https://en.wikipedia.org/wiki/Special:Random"/>

    {%- elif current.url != dest.url -%}

        <input id="origin" name="origin" type="hidden" value="{{ origin.url }}">
        <p><b>Starting page: </b><a href="{{ origin.url }}" target="_blank">{{ origin.text() }}</a></p>

        <input id="dest" name="dest" type="hidden" value="{{ dest.url }}">
        <p><b>Destination page: </b><a href="{{ dest.url }}" target="_blank">{{ dest.text() }}</a></p>

        <input id="current" name="current" type="hidden" value="{{ current.url }}">
        <p><b>Current page: </b><a href="{{ current.url }}" target="_blank">{{ current.text() }}</a></p>

        <input id="jumps" name="jumps" type="hidden" value="{{ jumps }}">
        <p><b>Number of jumps: </b>{{ jumps }}</p>

        <label for="next">Select a link to follow:</label>
        <select name="next" size="20" class="form-select">
            {% for link in links %}
                <option value="{{ link.url }}">{{ link.text() }}</option>
            {% endfor %}
        </select>

    {%- else -%}

        <h1>YOU WON!</h1>
        <p>Won in {{ jumps }} jumps!</p>

    {%- endif -%}

    {%- if current.url != dest.url %}
        <div class="form-group">
            <input type="submit" value="Go!">
        </div>
    {% endif -%}

</form>
</body>
</html>